/*CHART HEADINGS*/

.chart-headings {
    align-items: center;
  }
  
  
  /* FOOTER SECTION */
  
  
  /* EXCEPTIONAL STYLING */
  
  p {
    color: black;
  }
  
  p a {
    color: blue; /* making distinction that they are links */
  }
  
  ul {
    color: black;
  }
  
  #summary-paragraph {
    text-align: left;
  }
  
  /* NAVBAR SECTION */
  
  /* CONTAINER BLOCKS SECTION */
  
  #container-open {
    padding: 20px 20px;
  }
  
  .container-blocks {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
  }
  
  /* ACCORDION SECTION */
  
  .accordion {
    background-color: #1ae851; /* same colour used for coloured bar chart */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px;
    width: 60%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Button background color when hovered and/or clicked */
  
  .active,
  .accordion:hover {
    background-color: #1ae8aa; /* greeny blue */
  }
  
  /* Accordion panel - note: hidden by default - help via https://www.w3schools.com/howto/howto_js_accordion.asp */
  
  .panel {
    padding: 0 18px;
    background-color: #f9fad4; /* dirty sand colour */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
  }
  
  .panel p {
    margin-top: 10px;
  }
  
  /* SIGHTINGS BY CONTINENT CHART */
  
  /* SIGHTINGS BY STATE CHART */
  
  /*Rotate state on x-axis to fit*/
  
  #state .axis.x text {
    transform: rotate(-45deg) translate(-20px, 0px);
  }
  
  /* DURATION OF SIGHTINGS CHART */
  
  #duration .pie-slice {
    font-size: 16px; /* Make text within slice a little more prominent */
  }
  
  
  /* GLOBAL SIGHTINGS ROW CHART */
  
  /* making text more prominent */
  
  .dc-chart g.row text {
    fill: #000000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }